#annotation {
	float: left;
}

#annotation > fieldset {
	font-size: 0.5em;
}

#annotation > fieldset:hover, #annotation > fieldset.hover {
	background-color: lightgrey;
}

#annotation > fieldset > legend {
	font-weight: bold;
}

#annotation > fieldset .result .value.error {
	color: red;
	font-weight: bold;
}